<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fdscollege.college">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.collegeninja.college.App"
        android:allowBackup="true"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name="com.collegeninja.college.activity.MyBookmarksActivity"></activity>
        <activity android:name="com.collegeninja.college.activity.LatestNewsActivity" />
        <activity android:name="com.collegeninja.college.activity.SettingsActivity" />
        <activity android:name="com.collegeninja.college.activity.ProfileActivity" />
        <activity android:name="com.collegeninja.college.activity.CourseActivity" />
        <activity android:name="com.collegeninja.college.activity.CollegeActivity" />
        <activity android:name="com.collegeninja.college.activity.HomeActivity" />
        <activity android:name="com.collegeninja.college.activity.BaseActivity" />
        <activity android:name="com.collegeninja.college.activity.CollegeCourseDetails" />
        <activity
            android:name="com.collegeninja.college.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.collegeninja.college.activity.CollegesActivity"
            android:label="@string/title_activity_colleges"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.collegeninja.college.activity.CollegeGallery"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_college_gallery"
            android:theme="@style/FullscreenTheme" />
        <activity android:name="com.collegeninja.college.activity.ActivityArticleSearch" />
        <activity android:name="com.collegeninja.college.activity.IntroActivity" />
        <activity
            android:name="com.collegeninja.college.activity.ContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.collegeninja.college.activity.FAQActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.collegeninja.college.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.collegeninja.college.activity.CollegeDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.collegeninja.college.activity.ArticleDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.collegeninja.college.activity.CourseDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.collegeninja.college.activity.SubDomainsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.collegeninja.college.activity.ArticleActivity"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.collegeninja.college.activity.IntroThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.collegeninja.college.activity.IntroTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.collegeninja.college.activity.IntroOneActivity"
            android:label="@string/title_activity_intro_one"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.collegeninja.college.activity.SelectStreamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.collegeninja.college.activity.OTPGenerationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.collegeninja.college.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.collegeninja.college.activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.collegeninja.college.activity.SelectGradeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.collegeninja.college.activity.SelectTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.collegeninja.college.activity.LandingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.collegeninja.college.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>